div#status {
    text-align: center;
    font-family: Arial, serif;
    font-size: 1.2em;
}

div#indicator {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: 0 10px;
    display: inline-block;
}

div.CLOSED#indicator {
    background: red;
}

div.CONNECTING#indicator, div.CLOSING#indicator {
    background: yellow;
}

div.OPEN#indicator {
    background: green;
}

button {
    margin: 0 10px;
    font-size: 1em;
}
